#main-image {
  min-height: 350px;
  background-image: url(../image/pic1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: 'Nanum Gothic', sans-serif;
}

#sections-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#sections-grid > .section {
  min-height: 150px;
  font-family: 'Nanum Gothic', sans-serif;
}

#products-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#products-grid > .product {
  min-height: 320px;
}

.clock {
  background-image: url(../image/pic2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.belt {
  background-image: url(../image/pic3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.glove {
  background-image: url(../image/pic4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.pic {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.pad {
  font-size: 35px;
}

button {
  width: 100%;
  background: black;
  border: none;
  color: white;
  padding: 15px 15px;
  justify-content: center;
  display: flex;
  margin: auto;
  text-transform: uppercase;
  font-size: 20px;
  align-items: baseline;
}

.btn {
  padding: 20px 15px 30px;
}

#call {
  text-transform: uppercase;
  height: 200px;
  justify-content: center;
  align-items: center;
}

header {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

#footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#footer-grid > .footer {
  min-height: 320px;
  color: grey;
}

.footer h3,
.footer a:hover {
  color: black;
  font-family: 'Nanum Gothic', sans-serif;
}

.footer a {
  color: grey;
  border-bottom: 1px solid grey;
  display: block;
  text-decoration: none;
  padding: 10px 0px;
  font-family: 'Nanum Gothic', sans-serif;
}


.container{
  font-family: 'Nanum Gothic', sans-serif;
}